<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>La camara se usa para escanear el QR de materia.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Bluetooth se usa para emitir y escanear asistencia BLE.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Bluetooth se usa para emitir y escanear asistencia BLE.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>La ubicacion se usa para habilitar escaneo BLE durante la asistencia.</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
